/* Background for the entire page */
body {
  background-color: #f2f2f2; 
  padding-left: 50px;
  padding-right: 50px;
}

/* Dashboard Container */
.dashboard-container {
  background-color: #ffffff; 
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 1200px;
}

p {
font-size: 1.5rem;
}

.bowlby-one-regular {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#total_visitor_chart {
  width: 100%; /* Make the width responsive */
  height: auto; /* Allow height to adjust automatically */
  min-height: 300px; /* Ensure a minimum height for the map */
  max-height: 100%; /* Ensure it doesn't overflow */
}

#travel_reasons {
  width: 85%; /* Ensure the container takes full width */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; /* Center the container itself */
  max-width: 1000px; /* Restrict the maximum width for better centering */
}




